<p id="notice"><%= notice %></p>

<p><div class="panel panel-default">
<div class="panel-heading"> <strong>Opis:</strong></div>
<div class="panel-body">
 
  <%= @pin.description %>
</p>

</div>
<% if @pin.user == current_user %>
<div class="panel-footer"><%= link_to 'Wstecz', pins_path %>
<%= link_to 'Edycja', edit_pin_path(@pin) %>
</div> 
<% else %>
<div class="panel-footer"><%= link_to 'Wstecz', pins_path %></div>
<% end %>
</div>
